<!-- Projects section v.1 -->
<section class="text-center my-5 container">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Portafolio</h2>

    <!-- Grid row -->
    <div class="row text-center">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0z mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="assets/API.png" class="img-fluid" alt="Sample project image">
            <div class="mask rgba-indigo-strong">
                <p class="white-text">UTILIZA:</p>
                <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> API DE PELICULAS</p>
                <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> JAVASCRIPT</p>
                <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> BOOTSTRAP</p>
                <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> HTML5</p>
                <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> CSS3</p>
            </div>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">API MOVIE</h4>
          <a class="btn btn-indigo btn-sm" href="https://auramelisa01.github.io/cdmx20181-Track-FE-themovieapi/src/" target="_blank"><i class="fa fa-clone left"></i> VER PROYECTO</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="assets/RED_SOCIAL.png" class="img-fluid" alt="Sample project image">
          <div class="mask rgba-indigo-strong">
              <p class="white-text mt-3">UTILIZA:</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> ANGULAR 6</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> FIREBASE</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> BOOTSTRAP</p>
          </div>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">RED SOCIAL</h4>
          <a class="btn btn-indigo btn-sm" href="https://auramelisa01.github.io/cdmx-social-network-frameworks/" target="_blank"><i class="fa fa-clone left"></i> VER PROYECTO</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="assets/BURGER_QUEEN.png" class="img-fluid" alt="Sample project image">
          <div class="mask rgba-indigo-strong">
              <p class="white-text mt-3">UTILIZA:</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> ANGULAR 6</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> FIREBASE</p>
              <p class="white-text"> <i class="fa fa-check" aria-hidden="true"></i> MDB</p>
          </div>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">COMIDA RÁPIDA</h4>
          <a class="btn btn-indigo btn-sm" href="https://auramelisa01.github.io/cdmx-2018-06-bc-core-am-burger-queen/" target="_blank"><i class="fa fa-clone left"></i> VER PROYECTO</a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Projects section v.1 -->
