<!-- Section: Features v.2 -->
<section class="my-3 container">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">HABILIDADES</h2>
  <!-- Section description -->

  <div class="row ">
    <div class="col-md-2-1 mx-auto">
      <img class="img mx-auto" src="assets/CSS3.png" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/HTML5.png" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/ES6.png" alt="">
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/NODEJS.jpg" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/GitHub.png" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/firebase.png" alt="">
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/bootstrap.png" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/dreamweaver.png" alt="">
    </div>

    <div class="col-md-2-1 mx-auto">
      <img class="img" src="assets/MDB.jpg" alt="">
    </div>
  </div>


</section>
<!-- Section: Features v.2 -->
