<!-- Footer -->
<footer class="page-footer font-small indigo darken-3" id="contacto">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Git Hub -->
            <a class="fb-ic" href="https://github.com/AuraMelisa01" target="_blank">
              <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
             <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/AuraBernardino/" target="_blank">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Email-->
            <a class="mail-ic" href="mailto:auramelisa6@gmail.com">
              <i class="fa fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Watsap-->
            <a class="wats-ic" href="https://api.whatsapp.com/send?phone=525572738659">
              <i class="fa fa-whatsapp fa-lg white-text fa-2x" > </i>
            </a>


          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Creado por:
      <a href=""> Aura Bernardino</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
