<!-- Main navigation -->
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong routerLink="/intro">AB</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/sobre-mi">Sobre mí
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/habilidades">Habilidades</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/portafolio">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contacto">Contacto</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form mt-0">

          </div>
        </form>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view jarallax style" data-jarallax='{"speed": 0.2}'>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-white-light d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 white-text text-center">
            <a class="white-text font-weight-bold name">AURA </a>
              <a class="indigo-text font-weight-bold name">BERNARDINO</a>

            <h5 class="text-uppercase pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 white-text font-weight-bold wow fadeInDown">FRONT-END DEVELOPER</h5>
            <div class="wow fadeInDown">
              <!-- <a class="btn btn-light-blue btn-lg">portfolio</a>
              <a class="btn btn-indigo btn-lg">About me</a> -->
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
