
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://png.pngtree.com/element_origin_min_pic/16/11/22/6374c2b3a22b748d251dac1344d08dc4.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Section: Features v.3 -->
<section class="my-5 container">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">SOBRE MÍ</h2>
    <!-- Section description -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <!-- Card -->
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up indigo lighten-1">
              <img src="../assets/aura.jpg" class="rounded-circle mx-auto d-block foto" alt="woman avatar">
          </div>

          <!-- Avatar -->
          <div class="avatar mx-auto white">

          </div>

          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title centrar">Aura Melisa Bernardino González</h4>
            <hr>
            <!-- Quotation -->
            <p class="centrar">
              " El futuro se construye día a día con esfuerzo y perseverancia. "
          </div>

        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Safety</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam.
              Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Technology</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam.
              Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!--Grid row-->
        <div class="row">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Finance</h5>
            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam.
              Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.3 -->
</div>


