
  <!-- Section: Features v.3 -->
  <section class="my-5 container" id="sobre-mi">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5 animated swing infinite slower">SOBRE MÍ</h2>
    <!-- Section description -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <div>
          <img src="assets/melisa.png" class="rounded-circle mx-auto d-block foto" alt="woman avatar">
          <p class="centrar">
              " El futuro se construye con esfuerzo y perseverancia. " </p>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Grid row -->
        <div class="row mb-4">

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10 mx-auto">
            <h5 class="font-weight-bold mb-3">Bienvenid@s</h5>
            <p class="justifyText">Mi nombre es Aura Melisa Bernardino González, tengo una carrera en Ing. Tecnologías de la Información, pero busco oportunidades como Front-End Developer, me enamore del framework de Angular y es un camino del cual quiero seguir.</p>
            <p class=" justifyText">
              Me gusta mucho la tecnología, me emociona saber todo lo que se puede solucionar con la misma. El auto-aprendizaje y la disciplina son elementos fundamentales para seguir innovando y evolucionando en este mundo tecnológico. Soy coleccionista de plumas de ave y amo la música rock.</p>

              <a class="btn btn-indigo waves-effect center mt-2" href="assets/Aura_Bernardino_CV.pdf" target="_blank"><i class="fa fa-clone left"></i> VER CV</a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.3 -->

