<div class="view jarallax style img-responsive" data-jarallax='{"speed": 0.2}'>
  <!-- Section: Features v.3 -->
  <section class="my-5 container">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">SOBRE MÍ</h2>
    <!-- Section description -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <div>
          <img src="assets/melisa.png" class="rounded-circle mx-auto d-block foto" alt="woman avatar">
          <p class="centrar">
              " El futuro se construye día a día con esfuerzo y perseverancia. " </p>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Grid row -->
        <div class="row mb-4">

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10 mx-auto">
            <h5 class="font-weight-bold mb-3">Bienvenidxs</h5>
            <p class="justifyText">Mi nombre es Aura Melisa Bernardino González, tengo una carrera en Ing. Tecnologías de la Información, pero busco
              oportunidades como Front-End Developer, se trabajar en equipo y de manera individual.</p>
            <p class=" justifyText"> El auto-aprendizaje y la disciplina son elementos fundamentales para seguir innovando y evolucionando profesionalmente.
              Me gusta mucho la tecnología, me emociona saber todo lo que podemos solucionar con la misma y el gran avance
              que se tiene dia a dia. Soy coleccionista de plumas de ave y amo la música rock.</p>
              <div class="margin">
                <button type="button" class="btn btn-outline-primary waves-effect center" target="_blank" onclick="location.href='assets/Aura_Bernardino_CV.pdf'" >Ver CV</button>
              </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.3 -->
</div>
